#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
VERSION = $(shell dpkg-parsechangelog --show-field Version)
DESCRIPTION = $(shell fgrep Description: debian/control | cut -d' ' -f2-)
include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# main packaging script based on dh7 syntax
%:
	dh $@ 

# TODO(azat):
override_dh_auto_test:
#	make load
#	make test
#	make unload

override_dh_installdocs:
	help2man --no-discard-stderr -h-h --version-string $(VERSION) -n "$(DESCRIPTION)" ./ktap > debian/ktap.1
	echo "debian/ktap.1" >> debian/ktap.manpages
	
	mkdir -p debian/doc
	pandoc -o debian/doc/tutorial.html doc/tutorial.md
	dh_installdocs debian/doc/tutorial.html debian/ktap.1
